body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
  background-color: #39440e;
}

.calculator {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 30px;
}
